.Navbar{
   width: 1599px;
   height: ;
   
}
#logo{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
}
body{
    background-color: #f0f5ff;
}
#search{
    border: none;
    padding: 0px;
    background-color: transparent;
    height: 40px;
    width: 450px;
 }
 #login{
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
 }
 #login:hover{
    color: white;
    background-color: #2a55e5;
    border-color: #2a55e5;
    border-radius: 8px;
 }
 #cart{
    display: flex;
    align-items: center;
 }
 #Seller{
    display: flex;
    align-items: center;
 }

 #searchicon{
    display: flex;
    background-color: transparent;
    height: 24px;
    width: 24px;
    cursor: pointer;
    align-items: center;
   
 }
 
 #searchbar{
    display: flex;
    background-color: #f0f5ff;
    border-radius: 8px;
    height: 40px;
    width: 290px;
    align-items: center;
    
 }
 #menu{
    display: flex;
    align-items: center;
    cursor: pointer;
 }
 #product{
    margin-top: 8px;
    cursor: pointer;
    background-color: white;
    width: 1599px;
    height: 126px;
 }
 #Fashion{
   display: flex;
   justify-content: space-around;
 }
 #Fashion:hover{
   color: #ad8bf6;
 }
 #fash:hover{
   transform:rotate(180deg);
 }
 .Slide{
   margin-top: 8px;
   cursor: pointer;
   background-color: white;
 }
.Electronics{
   background-color: white;

}
#Bestel{
   display: flex;
   justify-content: space-between;
}
#headphone{
   border-width: 0.800px;
   box-sizing: border-box;
   border: 0.4px solid #e0e0e0;
   padding: 6px;
   margin-top: 8px;
   cursor: pointer;
   align-items: center;
   text-align: center;
}
#more{
   background-color: white;
}
#varity{
   display: flex;
   justify-content: space-evenly;
   cursor: pointer;
}
#Essentials{
   background-color: white;
}
#cell{
   display: flex;
   cursor: pointer;
}
#color{
   color:white;
}
.info{
   padding: 30px;
  color: #878787;
  background-color: #f5f5f5;
}

#info1{
   color: #666;
   background-color: #f5f5f5;
   margin: 0 auto;
   text-align: left;
   padding: 25px;
   line-height: 1.5;
   font-size: 12px;
}

#tops{
   color: #565656;
   font-family: inter_semi_bold,fallback-inter_semi_bold,Arial,sans-serif;
   margin-top: 14px;
   padding: 14px 0;
   font-size: 16px;
}

#tops a{
   text-decoration: none;
   color: #565656;
}

#tops h1{
   font-size: 16px;
   margin-bottom: 10px;
}

.mostSearch{
   margin: 4px 0;
}

.mostSearch span{
   color: #565656;
   text-transform: uppercase;
   margin-right: 4px;
   font-size: 14px;
}

.mostSearch a{
   cursor: pointer;
   text-decoration: none;
   color: #565656;
   border-right: 1px solid #333;
   padding: 0 5px;
   font-size: 12px;
}

.footer{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  padding: 40px 60px 0;
  column-gap: 20px;
  background-color: #171717;
}

.footerstyle{
   color: #878787;
   font-size: 12px;
   margin-bottom: 12px;
}

.footerstyle a{
   font-family: Arial,sans-serif;
   font-size: 12px;
   color: #fff;
   display: block;
}

.footerstyle p{
   color: #fff;
   font-size: 12px;
   margin: 0px;
}

.marginTop{
   margin-top: 10px;
}

a{
   text-decoration: none;
}

.mail{
   border-left: 1px solid #454d5e;
   padding-left: 32px;
   color: #878787;
   font-size: 12px;
   margin-bottom: 12px;
}

.mail p{
   color: #fff;
   font-size: 12px;
   margin: 0px;
}

#social{
   margin-top: 10px;
}

#social a{
   margin-right: 16px;
   margin-top: 10px;
}